.table1 {
    width: 50%;
    margin: 0px auto;
    text-align: center;
}
.title {
    width: 25%;
    margin: 0px auto;
}

a.btn-danger {
    width: 5%;
    background-color: yellow;
    float: right;
    margin-right:400px;
    margin-top: 20px;
}
