/* margin -> top과 left기준으로 띄우기 */

.c1 {
    width: 200px;
    height: 200px;
    background-color: yellow;
    /*auto -> 자동으로 계산해주세요 */
    margin-left: auto;
    margin-right: auto;
}

.c3 {
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 100px 0px 100px 100px ;
}

.c2 {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin-left: 100px;
   
}

.c4 {
    width: 500px;
    height: 300px;
    background-color: yellow;
    /*자식은 50을 주고 부모는 margin 0이기 때문에 자식에 넘쳐흐르기 때문에 overflow */
    overflow: hidden;
    margin: 0px auto;
}

/*부모가 움직이면 자식도 같이 움직인다*/
.c4 .c4_1 {
    width: 50%;
    /*width: 250px;*/
    height: 200px;
    background-color: red;
    margin: 50px auto;
}
.c4 .c4_2 {
    width: 250px;
    height: 200px;
    background-color: blue;
} 