<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.iu.s1.board.notice.NoticeDAO">
 	<sql id="commentCondition">
	  	<where>
			<if test="kind == 'contents'">
				CONTENTS LIKE '%' || #{search} || '%'
			</if>
				
			<if test="kind == 'writer'">
				WRITER LIKE '%' || #{search} || '%'
			</if>
			
			<if test="kind == 'title'">
				TITLE LIKE '%' || #{search} || '%'
			</if>
		</where>
  </sql>
 
 	<select id="getTotalCount" resultType="Long" parameterType="Pager">
 		SELECT COUNT(NUM) FROM NOTICE
 		<include refid="commentCondition"></include>
 	</select>
 	
 	<select id="getBoardList" resultType="NoticeDTO" parameterType="Pager">
 	SELECT * FROM 
 		(SELECT ROWNUM R, N.* FROM
 			(SELECT * FROM NOTICE
 			<include refid="commentCondition"></include>
 			ORDER BY NUM DESC) N)
 	WHERE R BETWEEN #{startRow} AND #{lastRow} 		
 	</select>
 	
 	<select id="getBoardDetail" parameterType="BoardDTO" resultType="NoticeDTO">
 		SELECT * FROM NOTICE WHERE NUM=#{num}
 	</select>
 	
 	<!--dao에서 BbsDTO타입으로 받아줬기 때문에 NoticeDTO로 받으면 모든 BbsDTO타입이 NoticeDTO이 아니기 떄문에 -->
 	<select id="setBoardAdd" parameterType="BbsDTO">
 		INSERT INTO NOTICE (NUM,TITLE,CONTENTS,WRITER,REGDATE,HIT)
 		VALUES (NOTICE_SEQ.NEXTVAL,#{title},#{contents},#{writer},SYSDATE,0)
 	</select>
 	
 </mapper> 